header {
    width: 100%;
}

body {
    padding-top: 5%;
    height: 100%;
}

form {
    margin: 0 auto;
    margin-top: 6rem;
    width: 50%;
    border: 1px solid #8080809e;
    border-radius: 2%;
    padding: 2%;
    font-size: 1.3rem;
}

.form-row {
    margin-left: 1.2rem;
    margin-top: .5rem;
}

.form-group div {
    margin: 1rem 1rem 0rem 0rem;
}

.butt {
    padding: 0px 10px 10px 10px;
    display: flex;
}

.butt button {
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
}

.cancel {
    background-color: red;
    border-color: red;
}

.save {
    background-color: green;
    border-color: green;
}

.password {
    width: 100%;
}

.password div {
    width: 44%;
}