<body>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid" style="display: flex;">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample3.toggle()" aria-controls="backgroundImageExample3" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-label="bars"></i>
            </button>
            <div mdbCollapse #backgroundImageExample3="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample3">
                <input type="search" class="form-control" id="search-input-sidenav" id="search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">&nbsp;
                <button class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
    </nav>

    <div class="display">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datas of data">
                    <td>{{datas.id}}</td>
                    <td>{{datas.name}}</td>
                    <td>{{datas.email}}</td>
                    <td>{{datas.message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <hr>
    <nav class="nav">
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</body>