body {
    margin-top: 1%;
}

header {
    margin-top: -3%;
}

#nav-header {
    background-color: rgb(2, 2, 80);
    height: 10%;
}

.butt {
    /* padding: 10px; */
    display: flex;
}

.butt button {
    padding: 10px;
    margin: 10px;
}

#price {
    width: 460px;
    padding-left: 15px;
}

#upload {
    margin-top: 1%;
    width: 460px;
    padding-left: 15px;
}

.input {
    width: 600px;
    padding-bottom: -2px;
}

.title {
    padding-left: 20px;
}

.input div {
    width: 450px;
    padding: 5px;
}

#cancel {
    background-color: red;
    border-color: red;
}

#save {
    background-color: green;
    border-color: green;
}