<div class="row">
    <div class="col-md-4 mx-auto" id="content">
        <a id="link" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
            <h3 class="font-weight-bold text-uppercase mt-3 mb-4 " id="header">
                <i class="fa fa-phone" width="240" height="240"></i>
                <img src="../assets/image/computer.jpg" width="240" height="240">
            </h3>
            <p id="para">
                Get the best deals of computer accessories from our shop that are trusted and safe to use.
            </p>
        </a>
    </div>
</div>