<body>
    <div id="contain" style="display: flex;">
        <div style="width: 10%; height: 300px; margin-top: 12%; text-align: center;">
            <img src="../../../assets/image/icons/triouser.png" width="200" style="border-radius:5%;">
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()" id="styled" class="form-control">
            <div class="form-row">
                <div class="form-group col-md-6" id="email">
                    <label for="inputEmail">Email</label>
                    <input formControlName="email" style="width: 310px;" type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" id="ids">
                    <div>
                        <label for="inputPassword4">Password</label>
                        <input formControlName="password" style="width: 310px;" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                    <div>
                        <label for="inputPassword4">Confirm Password</label>
                        <input formControlName="confirmPassword" style="width: 310px;" type="password" class="form-control" id="inputPassword4" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label for="inputPassword4" style="margin-left: 6px;">Upload Image</label>
                <input formControlName="file" class="form-control" type="file" id="inputFile">
            </div>
            <div class="form-group">
                <div class="form-check" id="id">
                    <input formControlName="check" class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="btn">Sign up</button>

            <br><br>
            <a routerLink="/login" id="a" style="margin: 10px;">Already have an account? Click to login</a>
        </form>

    </div>
</body>