body {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 104, 104);
    padding-bottom: 2%;
    margin: 0px;
}

#contain {
    padding-top: 10%;
    padding-right: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
    height: 100%;
}

#styled {
    height: 90%;
    width: 100%;
    padding-bottom: 4%;
}

#inputFile {
    margin-left: 7px;
}

#inputPassword3 {
    width: 127%;
}

#inputPassword4 {
    width: 127%;
}

#inputEmail {
    width: 113%;
}

#styled div {
    padding: 5px 5px 2px 3px;
    width: 90%;
    margin: 3px;
}

#gridCheck {
    margin: 2px 3px 0px 0px;
}

#id {
    margin: 5px 0px 8px 0px;
}

#btn {
    margin: 3px 0px 0px 10px;
}

#ids div {
    margin: -10px 0px 5px 0px;
}

#a {
    color: rgb(0, 110, 255);
    text-decoration: none;
}

#a:hover {
    cursor: pointer;
}

.profile {
    width: 20%;
    margin-left: 10%;
}