<body>
    <h1 class="ml-4 mb-5">Computer and Computer Accessories</h1>
    <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
        <a class="col" *ngFor="let com of comp" routerLink="/comp-pay/{{com.ID}}">
            <div class="card h-100">
                <div class="card-body">
                    <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top" width="264">
                    <div class="card-text text-center">
                        <h3>{{com.Title}}<br/></h3>
                        {{com.Price}}
                    </div>
                </div>
                <div class="btn btn-primary-cart cart">
                    Buy&nbsp;<i class="fa fa-cart-plus"></i>
                </div>
            </div>
        </a>
    </div>
</body>
