<header>
    <nav class="d-flex justify-content-between">
        <input type="search" class="form-control search justify-content-start" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">
        <button class="btn btn-primary justify-content-end" (click)="search()">Search</button>
    </nav>
</header>

<mat-card class="mat-parent-small">
    <body>
        <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
            <a class="col" *ngFor="let com of comp" routerLink="/comp-pay/{{com.ID}}">
                <div class="card h-100">
                    <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{com.Title}}</h5>
                        <p class="card-text">
                            {{com.Category}}
                            <br>{{com.Price | currency}}
                        </p>
                    </div>
                    <div class="btn cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;Order
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{com.Title}}</small>
                    </div>
                </div>
            </a>
        </div>
    </body>
    
    <hr>
    <footer class="text-center">
        <i class="fa fa-copyright"></i> copy rights reserved
    </footer>
</mat-card>