<body>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid d-flex">
            <input type="search" class="form-control" id="search-input-sidenav search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">&nbsp;
            <button class="btn btn-primary search" (click)="search()">Search</button>
        </div>
    </nav>

    <div class="display">
        <button class="btn btn-lg btn-outline-primary" (click)="open()">
            <i class="fa fa-plus"></i>&nbsp;
                Add Computer
        </button>
      <br><br>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Cartegory</th>
                    <th>Price</th>
                    <th>File</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comp of api">
                    <td>{{comp.ID}}</td>
                    <td>{{comp.Title}}</td>
                    <td>{{comp.Category}}</td>
                    <td>{{comp.Price}}</td>
                    <td>
                        <img [src]="'../../../assets/image/computers/'+comp.File" width="80">
                    </td>
                    <td>
                        <a class="btn btn-primary" routerLink="/edit-computer/{{comp.ID}}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" routerLink="/edit-computer/{{comp.ID}}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <br>

    <mat-divider></mat-divider>
    <footer>
        <i class="fa fa-copyright"></i> copy rights reserved
    </footer>
</body>