<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
        
        a:hover {
            color: black;
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" id="id1" style="background-color: rgb(2, 2, 80); height: 120px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample2.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
            <div mdbCollapse #backgroundImageExample2="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <a class="nav-link" id="homeIcon" aria-current="page" routerLink="/cmj">
                    <img src="../../../assets/image/icons/logo.png" width="400">
                </a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navs">
                    <li class="nav-item active" style="margin-right: -40px;">
                        <a class="nav-link" routerLink="/cmj" style="width: 100px;">
                            <img src="../../../assets/image/icons/newHome.png" id="homeImg">
                            <br/>
                            <p style="margin-top: 5px;">Home</p>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: -40px;">
                        <a class="nav-link active" routerLink="phones" style="width: 100px;">
                            <img src="../../../assets/image/icons/newPhone.png" id="phoneImg">
                            <br/>
                            <p>Phone</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="computers" style="width: 150px;">
                            <img src="../../../assets/image/icons/comp.png" id="compImg">
                            <br/>
                            <p>Accessories</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(252, 252, 252); padding: 3% 0;">
        <div class="container-fluid" style="display: flex;">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample3.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
                    </button>
            <div mdbCollapse #backgroundImageExample3="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <input type="search" class="form-control" id="search-input-sidenav" id="form1" name="search" placeholder="Search for Phones, mouse, keyboards, funs, cables, flash...." style="width:480px;">
                <button class="btn btn-primary" (click)="search()">Search</button>
                <div style=" margin-left: 230px;">
                    <a class="btn" style="margin-right: 2px;" routerLink="/create">Create account</a>
                    <a class="btn btn-danger" routerLink="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<body>
    <div style="display:flex; padding: 2px;">
        <div class="btn" style="width:30%; display: flex; margin-right: 5px;">
            <div>
                <img src="../../../assets/image/icons/round.jpg" width="200">
            </div>
            <div></div>
        </div>
        <div style="width: 70%; margin:0px; padding: 0px;">
            <mat-card class="mat-parent-small" style="background-color: none; border: 0px; margin:0px; padding: 0px;">
                <carousel style="width: 100%; padding: 0px; margin:0px;">
                    <slide style="width: 100%; margin-bottom: -16px;">
                        <mat-card class="example-card">
                            <img mat-card-image src="../../../assets/image/computers/ear pads.jpg" height="500">
                        </mat-card>
                    </slide>
                    <slide style="width: 100%; margin-bottom: -16px;">
                        <mat-card class="example-card">
                            <img mat-card-image src="../../../assets/image/AI laptop.jpg" height="500">
                        </mat-card>
                    </slide>
                    <slide style="width: 100%; margin-bottom: -16px;">
                        <mat-card class="example-card">
                            <img mat-card-image src="../../../assets/image/computer.jpg" height="500">
                        </mat-card>
                    </slide>
                    <slide style="width: 100%; margin-bottom: -16px;">
                        <mat-card class="example-card">
                            <img mat-card-image src="../../../assets/image/phones/edge.jpg" height="500">
                        </mat-card>
                    </slide>
                    <slide style="width: 100%; margin-bottom: -16px;">
                        <mat-card class="example-card">
                            <img mat-card-image src="../../../assets/image/phones/infinix hot 10.jpg" height="500">
                        </mat-card>
                    </slide>
                </carousel>
            </mat-card>
        </div>
    </div>
    <app-tests>
    </app-tests>
    <br/>
</body>

<app-footer></app-footer>