<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light back-style position-sticky fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" routerLink="/cmj">
                <img src="../../../assets/image/icons/logo.png" width="250">
            </a>
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Service Icons -->
            <button class="service" mat-button [matMenuTriggerFor]="menu">
                <i class="fa fa-shopping-cart service"></i>
                <i class="fa fa-angle-down service"></i>
                <br>
                Services
             </button>
            <mat-menu #menu="matMenu">
                <button class="products" mat-menu-item>
                     <mat-icon class="products">settings_phone</mat-icon>
                     <a routerLink="/users/phones">Phone</a>
                 </button>
                <mat-divider></mat-divider>
                <button mat-menu-item class="products">
                     <mat-icon class="products">computer</mat-icon>
                     <a routerLink="/users/computers">Sign Up</a>
                 </button>
            </mat-menu>

            <!-- Contact Us Icons -->
            <button class="products" mat-button [matMenuTriggerFor]="meenu">
                <mat-icon  class="products">
                    <span class="material-icons">contact_support</span>
                </mat-icon>
                <i class="fa fa-angle-down products"></i>
                <br>
                Support
             </button>
            <mat-menu #meenu="matMenu">
                <button mat-menu-item class="products">
                    <mat-icon  class="products">mobile</mat-icon>
                    Contact
                 </button>
                <mat-divider></mat-divider>
                <button mat-menu-item class="products">
                    <mat-icon class="products">shopping_cart</mat-icon>
                    Shopping
                 </button>
            </mat-menu>

            <!-- account change Icons -->
            <button class="power" mat-button [matMenuTriggerFor]="menus">
               <i class="fa fa-power-off power" ></i>
               <i class="fa fa-angle-down power"></i>
               <br>
               Account
            </button>
            <mat-menu #menus="matMenu">
                <button mat-menu-item class="power">
                    <i class="fa fa-power-off power" ></i>
                    Login
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item class="products">
                    <i class="fa fa-user-plus products"></i>
                    Sign Up
                </button>
            </mat-menu>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- carousel -->

<body>
    <div class="mat-parent-small">
        <carousel id="carousel-slider">
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/computers/ear pads.jpg" height="400">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Ear phones</h5>
                    <p>Any phone anything</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/AI laptop.jpg" height="400">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Ear phones</h5>
                    <p>Any phone anything</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/computer.jpg" height="400">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Ear phones</h5>
                    <p>Any phone anything</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/phones/edge.jpg" height="400">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Ear phones</h5>
                    <p>Any phone anything</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/phones/infinix hot 10.jpg" height="400">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Ear phones</h5>
                    <p>Any phone anything</p>
                </div>
            </slide>
        </carousel>
    </div>

    <div class="body">
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <a class="col" *ngFor="let phon of api" routerLink="/phon-pay/{{phon.id}}">
                <div class="card h-100 card-item" *ngIf="phon.id <= 8">
                    <h5 class="card-title">{{phon.Title}}</h5>
                    <div>
                        <div class="card-body">
                            <img [src]="'../../../../../assets/image/phones/'+ phon.File" class="card-img-top" height="90" width="100">
                            <p class="card-text">
                                {{phon.Storage}}
                                <br>{{phon.Price}}
                                <br>{{phon.Battery}}
                            </p>
                        </div>
                        <div class="btn cart">
                            <i class="fa fa-cart-plus"></i>&nbsp;Buy
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <a routerLink="/users/phones" class="more">see more >>></a>
    </div>
    <div class="body">
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <a class="col" *ngFor="let com of comp" routerLink="/comp-pay/{{com.id}}">
                <div *ngIf="com.id <= 8" class="card h-100">
                    <h5 class="card-title">{{com.Title}}</h5>
                    <div class="card-body">
                        <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top" height="90">
                        <div class="card-text ">
                            <p>{{com.Category}}
                                <br>{{com.Price}}
                            </p>
                        </div>
                        <div class="d-inline-flex p-2 small-image">
                            <img src="../../../../../assets/image/computers/ear pads.jpg" width="40">
                            <img src="../../../../../assets/image/computers/usb.jpg" width="40">
                            <img src="../../../../../assets/image/computers/RAM.jpg" width="40">
                            <img src="../../../../../assets/image/computers/light mouse.jpg" width="40">
                        </div>
                    </div>
                    <div class="btn cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;Buy
                    </div>
                </div>
            </a>
        </div>
        <a routerLink="/users/computers" class="more">see more >>></a>
    </div>

    <div class="d-flex contact">
        <div class="help float-left ">
            <h5 class="address">
                Contact Us
            </h5>
            We sell phones and Computer accessories at the cheapest prices there is.
            <b>For online services</b><br/>Order from our websites or any of our social media platforms the device or accessory of your choice and we shall be at your service. Use our email
            <a href="email">cmjentertainment@gmail.com</a> or our telephone lines <b>0700711932</b> and get served quickly.
            <br/><br/>
            <P>Our Motto is</P>
            <h5>"COME VISIT THE WORLD FULL OF ENJOYMENT"</h5>
        </div>
        <div class="float-right location">
            <form class="form" [formGroup]="sendMessage" (ngSubmit)="sendMessages()">
                <h2>Send Message</h2>
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" formControlName="name" class="form-control" id="exampleInputText" placeholder="Enter name" />
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="exampleMessage">Message</label>
                    <textarea class="form-control" id="exampleMessage" formControlName="message" placeholder="Enter your message" rows="6">
                    </textarea>
                </div>

                <button type="submit" class="btn btn-primary send"><i class="fa fa-paper-plane"></i>&nbsp;Send</button>
            </form>
        </div>
    </div>
</body>

<app-footer></app-footer>