body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(253, 253, 255), rgb(253, 253, 255));
}

header {
    width: 100%;
}

.slider {
    position: relative;
}

#backgroundImageExample2 li a:hover {
    color: orange;
    size: 2%;
    border-top: 2px solid orange;
}

#backgroundImageExample2 li a:active {
    color: orange;
    size: 2%;
    border-top: 2px solid orange;
}

.collapse {
    align-items: center;
}

li a {
    color: white;
    text-align: center;
    margin-right: 12px;
}

li a img {
    width: 25px;
    padding-bottom: 4px;
    margin-top: 4px;
}

#navs {
    margin-left: 311px;
    padding-left: 5px;
}

#homeIcon {
    margin-left: -31px;
    padding: 0;
}

#id1 {
    padding: 0;
}

#homeImg {
    margin-top: -5px;
}

#compImg {
    height: 35px;
}

#phoneImg {
    width: 22px;
    height: 32px;
}

.home {
    width: 100%;
    height: 50%;
    display: block;
}

.logo {
    width: 50%;
    padding-left: 30%;
    padding-top: 5%;
    padding-bottom: 4%;
}

#about {
    text-align: center;
    padding-bottom: 10%;
    font-size: 25px;
    margin-bottom: 5%;
}

.accounts {
    margin-top: 4%;
}

.accounts a {
    margin: 1%;
    border-radius: 30px;
    color: white;
    text-transform: capitalize;
}

#create {
    height: 60px;
    padding-top: 20px;
    color: black;
}

#login {
    height: 60px;
    width: 100px;
    padding-top: 20px;
}


/* contact us styling */

.about {
    width: 100%;
    padding-bottom: 10%;
    font-size: 25px;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
}

.help {
    width: 50%;
    height: 30%;
    display: flex;
}

.howtoOrder {
    margin-left: 5%;
    font-size: 20px;
}

.address {
    text-align: center;
}

.location {
    width: 40%;
    height: 40%;
    margin-left: 2%;
    border: .1px solid;
    text-align: left;
    padding: 2%;
    border-radius: 10px;
}

.location form div {
    margin: 20px;
}

.send {
    margin-top: 2%;
    margin-left: 50px;
    border-radius: 20px;
    width: 50%;
    height: 50px;
}