/* cart card */

body {
    padding-top: 1%;
    padding-left: 1%;
    margin-bottom: 3%;
}

.cart {
    width: 100%;
    background-color: rgb(3, 120, 237);
    border: 1px solid rgb(3, 120, 237);
    text-align: left;
    margin-bottom: 3%;
    color: white;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
}

.col:hover {
    width: 150%;
}

.row {
    width: 100%;
    margin-top: 4%;
}

.row .col {
    width: 23%;
    font-size: 10px;
    color: black;
    margin: .5%;
}

.row .col:hover {
    width: 25%;
    font-size: 15px;
    color: black;
}

.card-body {
    font-size: 10px;
}

.more {
    color: orangered;
    margin-left: 2%;
    font-size: 1.2rem;
}


/* form contact */

.contact {
    margin: 3%;
}

.help {
    width: 50%;
    font-size: 13px;
    padding: 3%;
}

.location {
    width: 50%;
    background-image: url("../../../assets/image/computer.jpg");
    opacity: .9;
    background-size: cover;
    border-radius: 20px;
}

.form {
    background-color: rgb(3, 2, 2, .8);
    background-size: cover;
    color: black;
    padding: 3%;
    border-radius: 20px;
}

.send {
    margin: 3%;
}


/* small images spacing */

.small-image img {
    margin: 2px;
    border-radius: 2px;
}


/* categories */

.category {
    width: 30%;
}