<app-header></app-header>
<body class="bg-light">
    <div class="carousel">
        <carousel id="carousel-slider">
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/computers/ear pads.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/AI laptop.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/computer.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/phones/edge.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/phones/infinix hot 10.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
        </carousel>
    </div>
    
    <div class="body">
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <a class="col" *ngFor="let phon of phones" routerLink="/phon-pay/{{phon.ID}}">
                <div class="card h-100 card-item">
                    <h5 class="card-title">{{phon.Title}}</h5>
                    <div>
                        <div class="card-body">
                            <img [src]="'../../../../../assets/image/phones/'+ phon.File" class="card-img-top" height="90" width="100">
                            <p class="card-text">
                                {{phon.Storage}}
                                <br>{{phon.Price}}
                                <br>{{phon.Battery}}
                            </p>
                        </div>
                        <div class="btn cart">
                            <i class="fa fa-cart-plus"></i>&nbsp;Buy
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <a routerLink="/users/phones" class="more">see more >>></a>
    </div>
     <!-- *ngIf="com.id <= 8" -->
    <div class="body">
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <a class="col" *ngFor="let com of computers" routerLink="/comp-pay/{{com.ID}}">
                <div class="card h-100">
                    <h5 class="card-title">{{com.Title}}</h5>
                    <div class="card-body">
                        <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top" height="90">
                        <div class="card-text ">
                            <p>{{com.Category}}
                                <br>{{com.Price}}
                            </p>
                        </div>
                    </div>
                    <div class="btn cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;Buy
                    </div>
                </div>
            </a>
        </div>
        <a routerLink="/users/computers" class="more">see more >>></a>
    </div>

    <div class="d-flex contact" id="contact">
        <div class="help float-left">
            <h5 class="address">
                Contact Us
            </h5>
            We sell phones and Computer accessories at the cheapest prices there is.
            <b>For online services</b><br/>Order from our websites or any of our social media platforms the device or accessory of your choice and we shall be at your service. Use our email
            <a href="email">cmjentertainment@gmail.com</a> or our telephone lines <b>0700711932</b> and get served quickly.
            <br/><br/>
            <P>Our Motto is</P>
            <h5>"COME VISIT THE WORLD FULL OF ENJOYMENT"</h5>
        </div>
        <div class="float-right location">
            <form class="form" [formGroup]="sendMessage" (ngSubmit)="sendMessages()">
                <h2>Send Message</h2>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" formControlName="Name" class="form-control" id="exampleInputText" placeholder="Enter name" />
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" formControlName="Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="exampleMessage">Message</label>
                    <textarea class="form-control" id="exampleMessage" formControlName="Message" placeholder="Enter your message" rows="6">
                    </textarea>
                </div>

                <button type="submit" class="btn btn-primary send"><i class="fa fa-paper-plane"></i>&nbsp;Send</button>
            </form>
        </div>
    </div>
</body>

<app-footer></app-footer>