<nav class="d-flex justify-content-between contact-span text-center text-white align-items-center">
    <div class="justify-content-start">
        <i class="fa fa-phone"></i>
        +256 755113122
    </div>
    <div class="justify-content-end">
        @ copyright 2023
    </div>
</nav>
<app-header></app-header>
<body class="bg-light">
    <div class="carousel">
        <carousel id="carousel-slider">
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/computers/ear pads.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/AI laptop.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/computer.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/phones/edge.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
            <slide>
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/image/phones/infinix hot 10.jpg" height="500">
                </mat-card>
                <div class="carousel-caption d-none d-md-block">
                    <h3>CMJ Entertainment</h3>
                    <p>"COME VISIT THE WORLD FULL OF ENJOYMENT"</p>
                </div>
            </slide>
        </carousel>
    </div>
    
    <div class="body">
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <a class="col" *ngFor="let phon of phones" routerLink="/phon-pay/{{phon.ID}}">
                <div class="card h-100 card-item">
                    <h5 class="card-title">{{phon.Title}}</h5>
                    <div>
                        <div class="card-body">
                            <img [src]="'../../../../../assets/image/phones/'+ phon.File" class="card-img-top" height="90" width="100">
                            <p class="card-text">
                                {{phon.Storage}}
                                <br>{{phon.Price}}
                                <br>{{phon.Battery}}
                            </p>
                        </div>
                        <div class="btn btn-primary cart">
                            <i class="fa fa-cart-plus"></i>&nbsp;Buy
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <a routerLink="/users/phones" class="more">see more >>></a>
    </div>
     
    <div class="body">
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <a class="col" *ngFor="let com of computers" routerLink="/comp-pay/{{com.ID}}">
                <div class="card h-100">
                    <h5 class="card-title">{{com.Title}}</h5>
                    <div class="card-body">
                        <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top" height="90">
                        <div class="card-text ">
                            <p>{{com.Category}}
                                <br>{{com.Price}}
                            </p>
                        </div>
                    </div>
                    <div class="btn btn-primary cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;Buy
                    </div>
                </div>
            </a>
        </div>
        <a routerLink="/users/computers" class="more">see more >>></a>
    </div>

    <h3>Storage</h3>
    <div class="body">
        <div class="row row-cols-1 row-cols-md-3 g-2" id="myRow">
            <a class="col d-flex flex-column" id="myTitle" *ngFor="let com of storage" routerLink="/comp-pay/{{com.ID}}">
                <div class="card h-100" *ngIf="com.Category == 'Storage'">
                    <h5 class="card-title">{{com.Title}}</h5>
                    <div class="card-body">
                        <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top" height="90">
                        <div class="card-text ">
                            <p>{{com.Category}}
                                <br>{{com.Price}}
                            </p>
                        </div>
                    </div>
                    <div class="btn btn-primary cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;Buy
                    </div>
                </div>
            </a>
        </div>
        <a routerLink="/users/computers" class="more">see more >>></a>
    </div>
</body>

<app-footer></app-footer>