<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
        
        a:hover {
            color: black;
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(2, 2, 80); height: 120px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample2.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
            <div mdbCollapse #backgroundImageExample2="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <a class="nav-link" id="homeIcon" aria-current="page" routerLink="/cmj">
                    <img src="../../../assets/image/icons/logo.png" width="400">
                </a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navs">
                    <li class="nav-item active" style="margin-right: -40px;">
                        <a class="nav-link" routerLink="/cmj" style="width: 100px;">
                            <img src="../../../assets/image/icons/newHome.png" id="homeImg">
                            <br/>
                            <p style="margin-top: 5px;">Home</p>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: -40px;">
                        <a class="nav-link active" routerLink="/users/phones" style="width: 100px;">
                            <img src="../../../assets/image/icons/newPhone.png" id="phoneImg">
                            <br/>
                            <p>Phone</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/users/computers" style="width: 150px;">
                            <img src="../../../assets/image/icons/comp.png" id="compImg">
                            <br/>
                            <p>Accessories</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <div class="side">
        <img src="' ../../../../../assets/image/phones/'+ data.File" title="Accessory" aria-label="image of product" alt="Image of accessory" width="150">
    </div>
    <div class="container">
        <div class="input">
            <form [formGroup]="buyComputer" id="styled" (ngSubmit)="order()" class="form-control">
                <h1>Buy Computer Accessory</h1>
                <div class="form-row">
                    <div class="form-group col-md-6" id="title">
                        <label for="Title">Title</label>
                        <input formControlName="title" type="text" class="form-control" id="inputTitle" placeholder="title">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" id="ids">
                        <div>
                            <label for="Cartegory">Cartegory</label>
                            <input formControlName="Cartegory" type="text" class="form-control" id="inputCartegory" placeholder="Cartegory">
                        </div>

                    </div>
                </div>
                <div class="form-row" id="id">
                    <label class="Price" for="Price">Price</label>
                    <input formControlName="Price" class="form-control" type="text" placeholder="Price" id="inputPrice">
                </div>
                <div class="form-row" id="id">
                    <label class="inputPicture" for="picture">Address</label>
                    <address>
                            <textarea rows="5" cols="78" class="form-control" name="Address" id="inputAddress" formControlName="textarea">
                            </textarea>
                    </address>
                </div>
                <br>
                <div class="butt">
                    <button class="btn btn-primary" (click)="order()">Order</button>
                    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
<hr>
<nav class="navLast">
    <i class="fa fa-copyright"></i> copy rights reserved
</nav>
<!-- <ngx-paypal [config]="payPalConfig">
</ngx-paypal> -->