<body>
    <div class="display">
        <!-- Button trigger modal -->
        <div class="addPhone">
            <button type="button" (click)="popUp(id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="btn">
                <i class="fa fa-plus" color="white"></i>&nbsp;
                    Add Phone
            </button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Storage</th>
                    <th>Battery</th>
                    <th>Price</th>
                    <th>File</th>
                    <th>Change</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phon of phones">
                    <td>{{phon.id}}</td>
                    <td>{{phon.Title}}</td>
                    <td>{{phon.Storage}}</td>
                    <td>{{phon.Battery}}</td>
                    <td>{{phon.Price}}</td>
                    <td>
                        <img [src]="'../../../assets/image/phones/'+phon.File" width="100"></td>
                    <td>
                        <p class="btn btn-primary" id="edit" (click)="edit(id)"><i class="fa fa-edit" aria-label="edit"></i></p>
                    </td>
                    <td>
                        <p class="btn btn-danger" id="del" (click)="deletePhone(phon)"><i class="fa fa-trash" aria-label="delete"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <hr>

    <nav>
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</body>