<body>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid" style="display: flex;">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample3.toggle()" aria-controls="backgroundImageExample3" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-label="bars"></i>
            </button>
            <div mdbCollapse #backgroundImageExample3="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample3">
                <input type="search" class="form-control" id="search-input-sidenav" id="search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">&nbsp;
                <button class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
    </nav>

    <div class="display">
        <!-- Button trigger modal -->
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Add Phone</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>

            <div class="modal-body">

                <body>
                    <div class="container">
                        <div class="input">
                            <form [formGroup]="addPhone" id="styled" class="form-control">
                                <div class="form-row">
                                    <div class="form-group col-md-6" id="title">
                                        <label for="title">Title</label>
                                        <input formControlName="title" type="text" class="form-control" id="inputTitle" placeholder="Enter Title">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6" id="ids">
                                        <div>
                                            <label for="inputStorage">Storage</label>
                                            <input formControlName="Storage" type="text" class="form-control" id="inputStorage" placeholder="Enter Storage">
                                        </div>
                                        <div>
                                            <label for="inputBattery">Battery</label>
                                            <input formControlName="Battery" type="text" class="form-control" id="inputBattery" placeholder="Enter Battery">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row" id="price">
                                    <label class="inputPrice" for="Price">Price</label>
                                    <input formControlName="Price" class="form-control" type="text" placeholder="Enter Price" id="inputPrice">
                                </div>
                                <div class="form-row" id="upload">
                                    <label for="upload">Upload image</label>
                                    <input formControlName="File" class="form-control" type="file" id="fileUpload" (change)="onFileUpload($event)">
                                </div>
                            </form>
                        </div>
                    </div>
                </body>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="save" (click)="Edit()">Save</button>
                <button class="btn btn-secondary" (click)="clr()">Clear Form</button>
                <button class="btn btn-primary" id="cancel" (click)="cancel()">Cancel</button>
            </div>
        </ng-template>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
            <i class="fa fa-plus" color="white"></i>&nbsp;
                    Add Phone
        </button>

        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Storage</th>
                    <th>Battery</th>
                    <th>Price</th>
                    <th>File</th>
                    <th>Change</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phon of phones">
                    <td>{{phon.id}}</td>
                    <td>{{phon.Title}}</td>
                    <td>{{phon.Storage}}</td>
                    <td>{{phon.Battery}}</td>
                    <td>{{phon.Price}}</td>
                    <td>
                        <img [src]="'../../../assets/image/phones/'+phon.File" width="100"></td>
                    <td>
                        <button class="btn btn-outline-primary" id="edit" (click)="open(contents)">
                            <i class="fa fa-edit" aria-label="edit"></i>
                        </button>
                    </td>
                    <td>
                        <p class="btn btn-outline-danger" id="del" (click)="deletePhone(phon)"><i class="fa fa-trash" aria-label="delete"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <mat-divider></mat-divider>
    <nav>
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</body>

<ng-template #contents let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Phone</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">

        <body>
            <div class="container">
                <div class="input">
                    <form [formGroup]="addPhone" id="styled" class="form-control">
                        <div class="form-row">
                            <div class="form-group col-md-6" id="title">
                                <label for="title">Title</label>
                                <input formControlName="title" type="text" class="form-control" id="inputTitle" placeholder="Enter Title">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6" id="ids">
                                <div>
                                    <label for="inputStorage">Storage</label>
                                    <input formControlName="Storage" type="text" class="form-control" id="inputStorage" placeholder="Enter Storage">
                                </div>
                                <div>
                                    <label for="inputBattery">Battery</label>
                                    <input formControlName="Battery" type="text" class="form-control" id="inputBattery" placeholder="Enter Battery">
                                </div>
                            </div>
                        </div>
                        <div class="form-row" id="price">
                            <label class="inputPrice" for="Price">Price</label>
                            <input formControlName="Price" class="form-control" type="text" placeholder="Enter Price" id="inputPrice">
                        </div>
                        <div class="form-row" id="upload">
                            <label for="upload">Upload image</label>
                            <input formControlName="File" class="form-control" type="file" id="fileUpload" (change)="onFileUpload($event)">
                        </div>
                    </form>
                </div>
            </div>
        </body>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="save" (click)="Edit()">Save</button>
        <button class="btn btn-secondary" (click)="clr()">Clear Form</button>
        <button class="btn btn-primary" id="cancel" (click)="cancel()">Cancel</button>
    </div>
</ng-template>