<body>
    <div class="display">
        <div class="addPhone">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="popUp()" id="btn">
            <i class="fa fa-plus" color="white"></i>&nbsp;
                Add User
        </button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Confirm Password</th>
                    <th>Check</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let use of user">
                    <td>{{use.id}}</td>
                    <td>{{use.email}}</td>
                    <td>{{use.password}}</td>
                    <td>{{use.confirmPassword}}</td>
                    <td>{{use.check}}</td>
                    <td>
                        <p class="btn btn-primary" id="edit" (click)="popUp()"><i class="fa fa-edit"></i></p>
                    </td>
                    <td>
                        <p class="btn btn-danger" id="del" (click)="deleteCompAccess(use)"><i class="fa fa-trash"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>

    <nav>
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</body>