<!-- <form #f="ngForm" (ngSubmit)="onSubmitForm(f)">
</form>
<h1>File uploader</h1>
<input type="file" name="myFile" (change)="fileEvent($event)">

<button type="button" id="f" class="btn btn-primary">Upload</button> -->

<!-- <label>
    <input
      type="file"
      class="text-nowrap text-truncate"
      (change)="selectedFiles($event)"
    />
  </label>
<button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()"> -->
<!-- 
Upload
</button>
<div *ngIf="currentFileUpload" class="progress mt-2">
    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
        {{ percentage }}%
    </div>
</div> -->


<!-- <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar (fileSelected)="fileSelected($event)" (ApiResponse)="docUpload($event)">
</angular-file-uploader> -->