body {
    height: 700px;
    overflow: hidden;
    margin: 0px;
}

.main {
    overflow: hidden;
    margin-top: 0px;
    width: 900px;
}

.toper {
    background-color: white;
    width: 700px;
    height: 300px;
    position: absolute;
    top: 29%;
}

.main figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 25s slider infinite;
    /* height: 800px; */
}

.main figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%
    }
    80% {
        left: -300%;
    }
    95% {
        left: -400%;
    }
    100% {
        left: -400%;
    }
}