/* carousel details */

.carousel-div {
    width: 100%;
    margin-bottom: 2%;
}

.mat-parent-small {
    width: 100%;
}

#carousel-slider {
    width: 100%;
}

.services {
    width: 25%;
    margin-left: 3%;
    height: 20%;
}

.carousel {
    width: 100%;
}

.example-card {
    height: 30%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#nav-card {
    background-color: blue;
}


/* icon drop downs */


/* cart card */

.body {
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 3%;
    border: 1px solid black;
}

.cart {
    width: 100%;
    background-color: rgb(3, 120, 237);
    border: 1px solid rgb(3, 120, 237);
    text-align: left;
    margin-bottom: 3%;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
}

.col:hover {
    width: 150%;
}

.row {
    width: 100%;
    margin-top: 4%;
}

.row .col {
    width: 23%;
    font-size: 10px;
    color: black;
    margin: .5%;
}

.card-body {
    font-size: 10px;
}

.more {
    color: rgb(0, 217, 255);
}