<mat-card class="mat-parent-small">
    <carousel style="width: 100%; padding: 0px; margin:0px;">
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Photo of a Shiba Inu">
            </mat-card>
        </slide>
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Photo of a Shiba Inu">
            </mat-card>
        </slide>
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Photo of a Shiba Inu">
            </mat-card>
        </slide>
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Photo of a Shiba Inu">
            </mat-card>
        </slide>
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Photo of a Shiba Inu">
            </mat-card>
        </slide>
    </carousel>

    <body style="padding: 2% 2% 0% 8%;">
        <div class="row row-cols-1 row-cols-md-3 g-2" style="padding: .1%;">
            <a class="col" *ngFor="let phon of api" routerLink="/phon-pay/{{phon.id}}" style="width: 29%; font-size: 13px; padding: 1.5%; color: black;">
                <div class="card h-100">
                    <img [src]="'../../../../../assets/image/phones/'+ phon.File" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{phon.Title}}</h5>
                        <p class="card-text">
                            {{phon.Storage}}
                            <br>{{phon.Price}}
                            <br>{{phon.Battery}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{phon.Brand}}</small>
                    </div>
                </div>
            </a>
        </div>

    </body>

    <hr>

    <nav>
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</mat-card>