<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
    </style>

    <nav class="navbar navbar-expand-lg" id="navbars">
        <div class="container-fluid">
            <div mdbCollapse #backgroundImageExample3="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <input type="search" class="form-control" id="search-input-sidenav" id="search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">&nbsp;
                <!--  {{filter_expression | filter : expression : comparator : anyPropertyKey}}/ -->
                <button class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
    </nav>
    <br/>
</header>
<mat-card class="mat-parent-small">

    <body>
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <a class="col" *ngFor="let phon of api" routerLink="/phon-pay/{{phon.id}}">
                <div class="card h-100">
                    <img [src]="'../../../../../assets/image/phones/'+ phon.File" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{phon.Title}}</h5>
                        <p class="card-text">
                            {{phon.Storage}}
                            <br>{{phon.Price}}
                            <br>{{phon.Battery}}
                        </p>
                    </div>
                    <div class="btn cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;Buy
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{phon.Brand}}</small>
                    </div>
                </div>
            </a>
        </div>
    </body>
    <hr>
    <nav>
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</mat-card>