body {
    display: flex;
    background-color: rgb(227, 227, 227, 0.2);
    margin-top: 2%;
}

.side {
    width: 30%;
    margin: 0% 1% 0% 1%;
    border: 2px solid rgb(0, 0, 0, 0.3);
    border-radius: 1%;
}

#styled {
    background-color: rgb(227, 227, 227, 0.2);
}

input,
textarea {
    background-color: rgba(255, 255, 255, 0.3);
}

.container {
    width: 70%;
    /* background-color: rgb(227, 227, 227, 0.2); */
}

.butt {
    width: 400px;
    margin: 2%;
}

.butt button {
    margin: 1%;
}

.navas {
    text-align: center;
    height: 100px;
    background-color: rgb(227, 227, 227, 0.2);
}

hr {
    margin-top: 0%;
    margin-bottom: 0%;
}

#backgroundImageExample2 li a:hover {
    color: orange;
    size: 2%;
    border-top: 2px solid orange;
}

.collapse {
    align-items: center;
}

#backgroundImageExample2 li a:active {
    color: orange;
    size: 2%;
    border-top: 2px solid orange;
}

li a {
    color: white;
    text-align: center;
    margin-right: 12px;
}

li a img {
    width: 25px;
    padding-bottom: 4px;
    margin-top: 4px;
}

#navs {
    margin-left: 400px;
    padding-left: 5px;
}

#homeIcon {
    margin-left: -31px;
    padding: 0;
}

#id1 {
    padding: 0;
}

#homeImg {
    margin-top: -5px;
}

#compImg {
    height: 35px;
}

#phoneImg {
    width: 22px;
    height: 32px;
}

#inputBattery,
#inputStorage,
#inputTitle {
    width: 200%;
    margin-bottom: 4%;
}

#inputPrice {
    margin-bottom: 4%;
}