<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
        
        a:hover {
            color: black;
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" id="id1" style="background-color: rgb(2, 2, 80);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample2.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
            <div mdbCollapse #backgroundImageExample2="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <a class="nav-link" id="homeIcon" aria-current="page" routerLink="#">
                    <img src="../../../assets/image/icons/logo.png" width="400">
                </a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navs">
                    <li class="nav-item active" style="margin-right: -40px;">
                        <a class="nav-link" routerLink="/cmj" style="width: 100px;">
                            <img src="../../../assets/image/icons/newHome.png" id="homeImg">
                            <br/>
                            <p style="margin-top: 5px;">Home</p>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: -40px;">
                        <a class="nav-link active" routerLink="phones" style="width: 100px;">
                            <img src="../../../assets/image/icons/newPhone.png" id="phoneImg">
                            <br/>
                            <p>Phone</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="computers" style="width: 150px;">
                            <img src="../../../assets/image/icons/comp.png" id="compImg">
                            <br/>
                            <p>Accessories</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
<br/>

<body>
    <div class="side">
        <img src="' ../../../../../assets/image/phones/ ' '+ data.File">
    </div>
    <div class="container">
        <div class="input">
            <form [formGroup]="addPhone" (ngSubmit)="save()" id="styled" class="form-control">
                <h1>Buys Phones</h1>
                <div class="form-row">
                    <div class="form-group col-md-6" id="title">
                        <label for="Name">Name</label>
                        <input formControlName="Name" type="text" class="form-control" id="inputTitle" placeholder="Enter Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" id="ids">
                        <div>
                            <label for="Detailes">Storage</label>
                            <input formControlName="Details" type="text area" class="form-control" id="inputStorage" placeholder="Enter Storage">
                        </div>
                        <div>
                            <label for="inputBattery">Battery</label>
                            <input formControlName="Battery" type="text" class="form-control" id="inputBattery" placeholder="Enter Battery">
                        </div>
                    </div>
                </div>
                <div class="form-row" id="id">
                    <label class="inputPrice" for="Price">Price</label>
                    <input formControlName="Price" class="form-control" type="text" placeholder="Enter Price" id="inputPrice">
                </div>
                <div class="form-row" id="id">
                    <label class="inputPicture" for="picture">Picture</label>
                    <input formControlName="file" class="form-control" type="file" id="inputFile">
                </div>
                <br>
                <div class="butt">
                    <button class="btn btn-primary" (click)="save()">Save</button>
                    <button class="btn btn-secondary" (click)="clr()">Clear</button>
                    <button class="btn btn-danger" (click)="del()">Delete</button>
                </div>
            </form>
        </div>
    </div>
</body>
<hr>
<nav>
    <i class="fa fa-copyright"></i> copy rights reserved
</nav>