<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light back-style position-sticky fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" routerLink="/cmj">
                <img src="../../../assets/image/icons/logo.png" width="250">
            </a>
        </div>
        <!-- Collapsible wrapper -->

        <div class="d-flex align-items-center">
            <!-- account change Icons -->
            <button class="power" mat-button (click)="logout()">
               <i class="fa fa-power-off power" ></i>&nbsp;
               <i class="fa fa-angle-down power"></i>
               <br>
               Logout
            </button>
        </div>
    </div>
</nav>


<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Log in successful !.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<body>
    <div class="side">
        <form [formGroup]="buyPhone" class="form-control">
            <img formControlName="File" src="../../../../../assets/image/phones/File" title="Phone" aria-label="image of product" alt="Image of Phone">
        </form>
    </div>
    <div class="container">
        <div class="input">
            <form [formGroup]="buyPhone" id="styled" class="form-control">
                <h1 class="text-warning">Buys Phones</h1>
                <div class="form-row">
                    <div class="form-group col-md-6" id="title">
                        <label for="Name">Title</label>
                        <input formControlName="Title" type="text" class="form-control" id="inputTitle" placeholder="title">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" id="ids">
                        <div>
                            <label for="Storage">Storage</label>
                            <input formControlName="Storage" type="text area" class="form-control" id="inputStorage" placeholder="Storage">
                        </div>
                        <div>
                            <label for="Battery">Battery</label>
                            <input formControlName="Battery" type="text" class="form-control" id="inputBattery" placeholder="Battery">
                        </div>
                    </div>
                </div>
                <div class="form-row" id="id">
                    <label class="Price" for="Price">Price</label>
                    <input formControlName="Price" class="form-control" type="text" placeholder="Price" id="inputPrice">
                </div>
                <div class="form-row" id="id">
                    <label class="inputPicture" for="picture">Address</label>
                    <address>
                        <textarea rows="5" cols="78" class="form-control" name="Address" id="inputAddress" formControlName="Message">
                            
                        </textarea>
                </address>
                </div>
                <br>
                <div class="butt">
                    <button class="btn btn-primary" (click)="save()">Order</button>
                    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
<div class="more-items">
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <a class="col" *ngFor="let phon of api" routerLink="/phon-pay/{{phon.id}}">
            <div class="card h-100" *ngIf="phon.Brand == phon.Brand">
                <img [src]="'../../../../../assets/image/phones/'+ phon.File" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{phon.Title}}</h5>
                    <p class="card-text">
                        {{phon.Storage}}
                        <br>{{phon.Price}}
                        <br>{{phon.Battery}}
                    </p>
                </div>
                <div class="btn cart">
                    <i class="fa fa-cart-plus"></i>&nbsp;Buy
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{phon.Brand}}</small>
                </div>
            </div>
        </a>
    </div>
</div>

<br>
<mat-divider></mat-divider>

<nav class="navas">
    <i class="fa fa-copyright"></i> copy rights reserved
</nav>