<header class="d-flex justify-content-between position-sticky fixed-top navbar navbar-expand-lg">
    <div class="justify-content-start">
        <a class="navbar-brand mt-2 mt-lg-0" routerLink="/cmj">
            <img src="../../../assets/image/icons/logo.png" width="250">
        </a>
    </div>

    <div class="justify-content-end">
        <button type="button" class="text-light" mat-button (click)="drawer.toggle()">
            <mat-icon class="menu">menu</mat-icon>
        </button>
    </div>
</header>

<body>
    <mat-drawer-container class="example-container">
        <mat-drawer #drawer class="example-sidenav text-black" mode="over">
            <div class="d-flex flex-column align-items-left button-nav text-black">
                <!-- user Icons -->
                <button mat-button>
                    <a class="d-flex" routerLink="user">
                        <i class="fa fa-users service align-middle"></i>
                        <span>User</span>
                    </a>
                 </button>
                <mat-divider></mat-divider>
                <!-- phones Icons -->
                <button mat-button>
                    <a class="d-flex" routerLink="phone">
                        <i class="fa fa-mobile power align-item-center" style="font-size: 3rem;"></i>
                        <span>Phones</span>
                    </a>
                 </button>
                <mat-divider></mat-divider>

                <!-- computer accessories Icons -->
                <button mat-button>
                    <a class="d-flex" routerLink="computer">
                        <i class="fa fa-desktop power align-middle"></i>
                        <span>Accessories</span>
                    </a>
                </button>
                <mat-divider></mat-divider>

                <!-- notification Icons -->
                <button mat-button>
                    <a class="d-flex" routerLink="notifications">
                        <i class="fa fa-bell power align-middle"></i>
                        <span>Notification</span>
                    </a>
                </button>
                <mat-divider></mat-divider>

                <!-- Messages Icons -->
                <button mat-button>
                    <a class="d-flex" routerLink="messages">
                        <i class="fa fa-envelope power align-middle"></i>
                        <span>Messages</span>
                    </a>
                </button>

                <!-- power button -->
                  <button class="text-danger text-left" mat-button type="submit" (click)="logout()">
                    <i class="fa fa-power-off power"></i>
                    Logout
                  </button>
            </div>
        </mat-drawer>

        <router-outlet class="hide"></router-outlet>
    </mat-drawer-container>
</body>