/* header styles */
header {
    width: 100%;
    height: 5rem;
    padding-top: 10px;
}

/* body styles */
body {
    width: 100%;
    height: 100%;
}

.button-nav button a {
    color: black;
}

.button-nav button:hover {
    color: orange;
    size: +2%;
    border-top: 2px solid orange;
}

.button-nav button a:hover {
    color: orange;
    text-decoration: none;
}

.button-nav button {
    height: 70px;
}

.menu {
    color: orangered;
}

.example-sidenav {
    width: 200px;
}