<div class="row">
    <div class="col-md-2 mx-auto" id="content">
        <a id="link" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
            <h3 class="font-weight-bold text-uppercase mt-3 mb-4" id="header">
                <i class="fa fa-desktop" width="240" height="240"></i>
                <img src="../assets/image/AI laptop.jpg" width="240" height="240">
            </h3>
            <ul class="list-unstyled" id="para">
                <li>
                    <p style="text-align: justify-left;">
                        Buy a phone that will give you comfort while in use and that will fulfill all your demands at anytime
                    </p>
                </li>
            </ul>
        </a>

    </div>
</div>