<body>
    <nav class="d-flex">
        <input type="search" class="form-control" id="search-input-sidenav" id="search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">&nbsp;
        <button class="btn btn-primary" (click)="search()">Search</button>
    </nav>

    <div class="display">
        <button class="btn btn-outline-primary" (click)="open()">
            <i class="fa fa-plus" color="white"></i>&nbsp;
                Add Phone
        </button>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef class="text-left"> ID </th>
              <td mat-cell *matCellDef="let phones"> {{phones.ID}} </td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="Title">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Title </th>
              <td mat-cell *matCellDef="let phones"> {{phones.Title}} </td>
            </ng-container>

            <!-- Storage Column -->
            <ng-container matColumnDef="Storage">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Storage </th>
              <td mat-cell *matCellDef="let phones"> {{phones.Storage}} </td>
            </ng-container>

            <!-- Battrey Column -->
            <ng-container matColumnDef="Battrey">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Battrey </th>
              <td mat-cell *matCellDef="let phones"> {{phones.Battrey}} </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Price </th>
              <td mat-cell *matCellDef="let phones"> <a href="u">{{phones.Price}}</a> </td>
            </ng-container>

            <!-- File Column -->
            <ng-container matColumnDef="File">
              <th mat-header-cell *matHeaderCellDef class="text-left"> File </th>
              <td mat-cell *matCellDef="let phones"> {{phones.File}} </td>
            </ng-container>

            <!-- Brand Column -->
            <ng-container matColumnDef="Brand">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Brand </th>
              <td mat-cell *matCellDef="let phones"> {{phones.Brand}} </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Edit </th>
              <td mat-cell *matCellDef="let phones"> <button class="btn btn-outline-danger" routerLink="/delete/message/{{phones.ID}}"><i class="fa fa-trash"></i></button> </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Delete </th>
              <td mat-cell *matCellDef="let phones"> <button class="btn btn-outline-danger" routerLink="/delete/message/{{phones.ID}}"><i class="fa fa-trash"></i></button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <footer>
        <i class="fa fa-copyright"></i> copy rights reserved
    </footer>
</body>