<body>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid d-flex">
            <input type="search" class="form-control" id="search-input-sidenav" id="search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">&nbsp;
            <button class="btn btn-primary" (click)="search()">Search</button>
        </div>
    </nav>

    <div class="display">
        <button class="btn btn-lg btn-outline-primary" (click)="open()">
            <i class="fa fa-plus" color="white"></i>&nbsp;
                Add Phone
        </button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Storage</th>
                    <th>Battery</th>
                    <th>Price</th>
                    <th>File</th>
                    <th>Change</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phon of phones">
                    <td>{{phon.ID}}</td>
                    <td>{{phon.Title}}</td>
                    <td>{{phon.Storage}}</td>
                    <td>{{phon.Battery}}</td>
                    <td>{{phon.Price}}</td>
                    <td>
                        <img [src]="'../../../assets/image/phones/'+phon.File" width="100"></td>
                    <td>
                        <a class="btn btn-primary" routerLink=""><i class="fa fa-edit" aria-label="edit"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-danger" routerLink=""><i class="fa fa-trash" aria-label="delete"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <mat-divider></mat-divider>
    <footer>
        <i class="fa fa-copyright"></i> copy rights reserved
    </footer>
</body>