body {
    height: 100%;
    width: 100%;
    background-color: rgb(10, 104, 104);
    padding-bottom: 3%;
    padding-left: 7%;
}

/* rgb(10, 104, 104) */
#main {
    padding: 10px;
    margin: 15%;
    border: 1px solid;
    border-radius: 8px;
    width: 50%;
    height: 80%;
    font-size: 1.7rem;
}

input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
