body {
    height: 100%;
    width: 100%;
}

#contain {
    padding-top: 60px;
}

/* rgb(10, 104, 104) */
#main {
    padding: 15px;
    padding-top: 20px;
    margin-left: 30%;
    margin-top: 45px;
    border: 1px solid;
    border-radius: 20px;
    width: 40%;
    background-color: rgb(255, 255, 255, .99);
    opacity: 1;
    height: 40%;
}

#link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(5, 150, 5);
}

#a {
    text-decoration: none;
}
