body {
    min-height: 100hv;
    min-width: 100hv;
    background-color: rgb(10, 104, 104);
    padding-bottom: 3%;
    padding-top: 7%;
}

form {
    width: 70%;
    height: 500px;
    border: 1px solid rgb(201 201 201);
    border-radius: 2%;
    padding: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
    margin-bottom: 5%;
}

mat-form-field {
    margin: 2%;
}

.login {
    width: 120px;
}

button {
    margin-bottom: 40px;
    margin-top: 10px;
}

.create {
    margin-top: 100px;
}