body {
    width: 100%;
    background-color: #fcfcfc;
}


/* item under transaction */
body .container {
    height: 100%;
    padding: 40px 0px;
}

/* product */
.product-image-div {
    height: 100%;
    width: 50%;
}

.product-details {
    width: 50%;
    height: 100%;
    padding-left: 5%;
}

.details {
    width: 90%;
    height: 30%;
}

.details h3 {
    font-size: 25px;
}

mat-divider {
    width: 100%;
}

span {
    width: 100%;
    height: 70%;
    font-size: 15px;
    border-radius: 4px;
}

.btn-buy-now {
    width: 25%;
    font-size: 16px;
    border-radius: 0px;
    background-color: #f73838;
    margin-top: 4px;
    margin-bottom: 8px;
}


/* form styles */
form {
    width: 90%;
    height: 60%;
    font-size: 16px;
    margin-top: 10px;
}

.identification-div {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}

.identity div {
    width: 50%;
    padding-right: 2%;
}

input, textarea {
    font-size: 14px;
}

/* product description */
.description .title {
    border-bottom: 2px solid #f73838;
}

.description .description-title {
    background-color: #f73838;
    color: white;
    width: 120px;
    padding: 10px;
    margin-bottom: 0px;
}

.description .review {
    background-color: white;
    color: #f73838;
    width: 120px;
    padding: 10px;
    margin-bottom: 0px;
}

#review {
    display: none;
}

.description p {
    font-size: 14px;
    margin-top: 10px;
    padding-left: 10px;
}

/* tabbed content */
.description .description-click {
    background-color: white;
    color: #f73838;
    width: 120px;
    padding: 10px;
    margin-bottom: 0px;
}

.description .review-click {
    background-color: #f73838;
    color: white;
    width: 120px;
    padding: 10px;
    margin-bottom: 0px;
}

#review-click {
    display: unset;
}

#description-click {
    display: unset;
}

#description-click {
    display: none;
}


/* review styles */
.btn-review {
    width: 20%;
    font-size: 16px;
    border-radius: 0px;
    background-color: #f73838;
    margin-top: 4px;
    margin-bottom: 8px;
}
