<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light back-style position-sticky fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" routerLink="/cmj">
                <img src="../../../assets/image/icons/logo.png" width="250">
            </a>
        </div>
        <!-- Collapsible wrapper -->

        <div class="d-flex align-items-center">
            <!-- account change Icons -->
            <button class="power" mat-button (click)="logout()">
               <i class="fa fa-power-off power" ></i>&nbsp;
               <i class="fa fa-angle-down power"></i>
               <br>
               Logout
            </button>
        </div>
    </div>
</nav>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Log in successful !.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<body>
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <a class="col" *ngFor="let com of comp" routerLink="/comp-pay/{{com.ID}}">
            <div class="card h-100">
              <img [src]=" '../../../../../assets/image/computers/'+ com.File" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{com.Title}}</h5>
                <p class="card-text">
                  {{com.Category}}
                  <br>Sh. {{com.Price}}
                  <!--  | currency -->
                </p>
              </div>
              <div class="btn cart">
                <i class="fa fa-cart-plus"></i>&nbsp;Order
              </div>
              <div class="card-footer">
                <small class="text-muted">{{com.Title}}</small>
              </div>
            </div>
        </a>
    </div>
</body>

<br>
<mat-divider></mat-divider>
<nav class="navas">
    &copy; copy rights reserved
</nav>
