<div class="display">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Cartegory</th>
                <th>Amount</th>
                <th>Rating</th>
                <th>File</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mov of api">
                <td>{{mov.id}}</td>
                <td>{{mov.Title}}</td>
                <td>{{mov.Cartegory}}</td>
                <td>{{mov.Amount}}</td>
                <td>{{mov.Rating}}</td>
                <td>
                    <video controls="controls" [src]="'../../../assets/videos/'+ mov.File" width="150"></video>
                    <td>
                        <p id="edit" (click)="editM(mov.id)"><i class="fa fa-edit"></i></p>
                    </td>
                    <td>
                        <p id="del" (click)="delM(mov)"><i class="fa fa-trash"></i></p>
                    </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Button trigger modal -->
<div style="margin-bottom: 100px; margin-top: 50px;">
    <button type="button" (click)="popUp(id)" class="btn btn-primary" id="btn">
    Add Movie
    </button>
</div>
<br>

<hr>

<nav>
    <i class="fa fa-copyright"></i> copy rights reserved
</nav>