body {
    padding-top: 22.8%;
    width: 100%;
    height: 100%;
    padding-right: 2%;
    padding-left: 2%;
}

nav {
    background-color: rgb(2, 2, 80);
}

header {
    position: fixed;
    width: 100%;
}

#navbar {
    width: 100%;
    background-color: rgb(252, 252, 252);
}

#backgroundImageExample2 li a:hover,
#backgroundImageExample2 li a:active {
    color: orange;
    size: +2%;
    border-top: 2px solid orange;
}

.collapse {
    align-items: center;
}

li a {
    color: white;
    text-align: center;
}

li a img {
    width: 25px;
    padding-bottom: 4px;
    margin-top: 4px;
}

#navs {
    margin-left: 1%;
    float: right;
}

#homeIcon {
    margin-left: .1%;
    padding: 0;
}

#id1 {
    padding: 0;
}

#backgroundImageExample3 {
    width: 100%;
}

.logout {
    margin-left: 26%;
}

#search {
    width: 50%;
    margin-right: .5%;
}