<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
        
        a:hover {
            color: black;
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <a class="nav-link" id="homeIcon" aria-current="page" routerLink="/cmj">
            <img src="../../../assets/image/icons/logo.png" class="logo">
        </a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample2.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" id="bars"></i>
            </button>
            <div mdbCollapse #backgroundImageExample2="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navs">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="user">
                            <i class="fa fa-user"></i>
                            <br/>
                            <p style="margin-top: 5px;">User</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="phone">
                            <i class="fa fa-mobile"></i>
                            <br/>
                            <p>Phones</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="computer">
                            <i class="fa fa-desktop"></i>
                            <br/>
                            <p>Accessories</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="notifications">
                            <i class="fa fa-bell"></i>
                            <br/>
                            <p>Notification</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="messages">
                            <i class="fa fa-bell"></i>
                            <br/>
                            <p>Messages</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg" id="navbar" style="background-color: rgb(252, 252, 252); padding: 3% 0;">
        <div class="container-fluid" style="display: flex;">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample3.toggle()" aria-controls="backgroundImageExample3" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-label="bars"></i>
            </button>
            <div mdbCollapse #backgroundImageExample3="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample3">
                <input type="search" class="form-control" id="search-input-sidenav" id="search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">
                <button class="btn btn-primary" (click)="search()">Search</button>
                <div class="logout">
                    <a class="btn btn-danger" routerLink="/login"><i class="fa fa-sign-out"></i>Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<body>
    <router-outlet></router-outlet>
</body>