body {
    width: 100%;
    height: 100%;
}

nav {
    background-color: rgb(2, 2, 80);
}

header {
    position: fixed;
    width: 100%;
}

#navbar {
    width: 100%;
    background-color: rgb(252, 252, 252);
}

.button-nav button a {
    color: white;
}

.button-nav button:hover {
    color: orange;
    size: +2%;
    border-top: 2px solid orange;
}

.button-nav button a:hover {
    color: orange;
}

.button-nav button {
    height: 70px;
}

.collapse {
    align-items: center;
}

#search {
    width: 50%;
    margin-right: .5%;
}


/* sidenav */

.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    width: 20%;
    padding: 20px;
}