<nav class="d-flex justify-content-between contact-span text-center text-white align-items-center">
  <div class="justify-content-start">
    <a class="navbar-brand" routerLink="/cmj">
      <img src="../../../assets/image/icons/logo.png" width="250" height="60">
    </a>
  </div>
  
  <div class="justify-content-end top-search">
    <form class="d-flex">
      <select name="Categories" class="form-select form-control select">
        <option>All Categories</option>
        <option>All Categories</option>
        <option>All Categories</option>
        <option>All Categories</option>
        <option>All Categories</option>
      </select>

      <input type="search" class="form-control search-input" id="myInput" placeholder="search for products....." onkeyup="searchelement()">
    </form>
  </div>
</nav>

<header class="position-sticky fixed-top d-flex flex-wrap justify-content-between">
  <button class="text-white text-uppercase d-flex align-items-center categories-btn" onmouseover="document.getElementById('categories').style.cssText = 'display: unset;'"
  onmouseleave="document.getElementById('categories').style.cssText = 'display: none'">
    <i class="fa fa-bars" style="padding-right: 10px; font-size: 15px;"></i>
    Categories
  </button>

  <div class="d-flex justify-content-start align-items-center">
    <a routerLink="/cmj" class="link-btn">
      Home
    </a>

    <a routerLink="/users/phones" class="link-btn">
      Phone
    </a>
  
    <a routerLink="/users/computers" class="link-btn">
      Computer Accessories
    </a>
  </div>

  <button onmouseover="document.getElementById('accounts').style.cssText = 'display: unset;'" onmouseleave="document.getElementById('accounts').style.cssText = 'display: none;'" class="text-uppercase d-flex align-items-center menu-btn">
    <i class="fa fa-person" style="color: orangered; font-size: 20px;"></i>
    My Account
  </button>
</header>

<div class="container list-container" id="categories">
  <ul class="bg-dark text-white">
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
  </ul>
</div>

<div class="container list-container-accounts" id="accounts">
  <ul class="bg-dark text-white">
    <li>one</li>
    <li>one</li>
  </ul>
</div>