<nav class="navbar-light position-sticky fixed-top d-flex justify-content-between">
    <a class="navbar-brand justify-content-start" routerLink="/cmj">
        <img src="../../../assets/image/icons/logo.png" width="250">
    </a>

    <div class="justify-content-end">
        <!-- <button class="navbar-toggler" type="button" (click)="backgroundImageExample3.toggle()" aria-controls="backgroundImageExample3" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-label="bars"></i>
        </button> -->

        <div mdbCollapse #backgroundImageExample3="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample3">
            <!-- Service Icons -->
            <button class="service" mat-button [matMenuTriggerFor]="menu">
                  <i class="fa fa-shopping-cart service"></i>
                  <i class="fa fa-angle-down service"></i>
                  <br>
                  Services
                </button>
            <mat-menu #menu="matMenu">
                <button class="products" mat-menu-item>
                    <mat-icon class="products">phone_android</mat-icon>
                    <a routerLink="/users/phones">Phone</a>
                  </button>
                <mat-divider></mat-divider>
                <button mat-menu-item class="products">
                    <mat-icon class="products">computer</mat-icon>
                    <a routerLink="/users/computers">Computer Accessories</a>
                  </button>
            </mat-menu>

            <!-- Contact Us Icons -->
            <button class="products" mat-button [matMenuTriggerFor]="menu2">
                  <mat-icon  class="products">
                    <span class="material-icons">contact_support</span>
                  </mat-icon>
                  <i class="fa fa-angle-down products"></i>
                  <br>
                  Support
                </button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item class="products">
                    <a href="#contact">
                      <mat-icon class="products">settings_phone</mat-icon>
                      Contact
                    </a>
                  </button>
                <mat-divider></mat-divider>
                <button mat-menu-item id="shop">
                    <a routerLink="/users">
                      <mat-icon id="shop">shopping_cart</mat-icon>
                      Shopping
                    </a>
                  </button>
            </mat-menu>

            <!-- account change Icons -->
            <button class="power" mat-button [matMenuTriggerFor]="menu3">
                  <i class="fa fa-power-off power"></i>&nbsp;
                  <i class="fa fa-angle-down power"></i>
                  <br>
                  Account
                </button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item class="power">
                    <a routerLink="/login">
                      <i class="fa fa-power-off power"></i>
                      Login
                    </a>
                  </button>
                <mat-divider></mat-divider>
                <button mat-menu-item class="products">
                    <a routerLink="/create" id="sign-up">
                      <i class="fa fa-user-plus"></i>
                      Sign Up
                    </a>
                  </button>
            </mat-menu>
        </div>
    </div>
</nav>
