<nav class="position-sticky fixed-top navbar navbar-expand-lg d-flex justify-content-between">
  <div class="d-flex container justify-content-start">
    <a class="navbar-brand" routerLink="/cmj">
      <img src="../../../assets/image/icons/logo.png" width="250">
    </a>
  
    <a routerLink="/users/phones" class="link-btn d-flex flex-column text-blue">
      <i class="fa fa-mobile"></i>
      Phone
    </a>
  
    <a routerLink="/users/computers" class="link-btn d-flex flex-column text-blue">
      <i class="fa fa-desktop"></i>
      Computer Accessories
    </a>

    <a data-toggle="modal" data-target="#exampleModal" class="link-btn d-flex flex-column text-blue">
      <i class="fa fa-phone"></i>          
      Contact
    </a>
  </div>

  <div class="d-flex justify-content-end">
    <input type="search" class="form-control" id="myInput" class="form-control" placeholder="search for....." onkeyup="searchelement()">

    <a routerLink="/users" class="link-btn d-flex flex-column text-blue">
      <i class="fa fa-shopping-cart"></i>
      Shopping
    </a>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="d-flex contact" id="contact">
        <div class="help float-left">
          <h5 class="address">
            Contact Us
          </h5>
          We sell phones and Computer accessories at the cheapest prices there is.
          <b>For online services</b><br/>Order from our websites or any of our social media platforms the device or accessory of your choice and we shall be at your service. Use our email
          <a href="email">cmjentertainment@gmail.com</a> or our telephone lines <b>0700711932</b> and get served quickly.
          <br/><br/>
          <P>Our Motto is</P>
          <h5>"COME VISIT THE WORLD FULL OF ENJOYMENT"</h5>
        </div>
        <div class="float-right location">
          <form class="form" [formGroup]="sendMessage" (ngSubmit)="sendMessages()">
            <h2>Send Message</h2>
            <div class="form-group">
              <label>Name</label>
              <input type="text" formControlName="Name" class="form-control" id="exampleInputText" placeholder="Enter name" />
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" formControlName="Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group">
              <label for="exampleMessage">Message</label>
              <textarea class="form-control" id="exampleMessage" formControlName="Message" placeholder="Enter your message" rows="6">
              </textarea>
            </div>

            <button type="submit" class="btn btn-primary send"><i class="fa fa-paper-plane"></i>&nbsp;Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>