nav {
    width: 100%;
    background-color: white;
}

.justify-content-start {
    width: 70%;
}

.justify-content-end {
    width: 30%;
}

a:hover {
    text-decoration: none;
}

.mat-parent-small {
    width: 100%;
}

.navbar-brand {
    margin-right: 10%;
}

.link-btn:hover {
    background-color: grey;
}

.link-btn {
    font-size: .9rem;
    color: blue;
    text-transform: capitalize;
    display: flex !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    border-radius: 0.25rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

/* form styles */

.modal {
    margin-top: 10%;
    width: 100%;
}

.contact {
    margin: 3%;
}

.help {
    width: 50%;
    font-size: 13px;
    padding: 3%;
}

.location {
    width: 50%;
    background-image: url("../../../assets/image/computer.jpg");
    opacity: .9;
    background-size: cover;
    border-radius: 20px;
}

.form {
    background-color: rgb(3, 2, 2, .8);
    background-size: cover;
    color: black;
    padding: 3%;
    border-radius: 20px;
}

.send {
    margin: 3%;
}
