<nav class="navbar navbar-expand-lg bg-white position-sticky fixed-top d-flex justify-content-between">
  <div class="justify-content-start">
    <a class="navbar-brand mt-2 mt-lg-0" routerLink="/cmj">
        <img src="../../../assets/image/icons/logo.png" width="250">
    </a>
  </div>

  <div class="d-flex align-items-center justify-content-end">
    <button class="power" mat-button (click)="logout()">
      <i class="fa fa-power-off power"></i>
      <br>
      Logout
    </button>
  </div>
</nav>

<body>
  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Log in successful !.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex side justify-content-between">
      <div class="d-flex image justify-content-start" *ngFor="let image of onephone">
        <img [src]='"../../../../../assets/image/phones/"+image.File' title="Phone" aria-label="image of product" alt="Image of Phone">
        <label>{{image.Title}}</label>
      </div>
      <div class="d-flex flex-column justify-content-end sec-image">
        <div class="d-flex justify-content-between top-images">
          <div *ngFor="let image of onephone" class="justify-content-start">
            <img [src]='"../../../../../assets/image/phones/"+image.File' title="Phone" aria-label="image of product" alt="Image of Phone">
          </div>

          <div *ngFor="let image of onephone" class="justify-content-end">
            <img [src]='"../../../../../assets/image/phones/"+image.File' title="Phone" aria-label="image of product" alt="Image of Phone">
          </div>
        </div>
        <div class="bottom-image">
          <div *ngFor="let image of onephone">
            <img [src]='"../../../../../assets/image/phones/"+image.File' title="Phone" alt="Image of Phone">
          </div>
        </div>
      </div>
    </div>
    <div class="content d-flex">
      <form [formGroup]="buyPhone" class="form-control d-flex flex-column">
        <div class="form-row" style="display: none;">
            <div class="form-group">
                <label>Title</label>
                <input formControlName="Title" type="text" class="form-control" placeholder="title">
            </div>
        </div>

        <div class="form-row" style="display: none;">
          <div class="form-group">
            <div>
              <label>File</label>
              <input formControlName="File" type="text" class="form-control" placeholder="File">
            </div>
            <div class="d-flex">
              <div>
                <label>Storage</label>
                <input formControlName="Storage" type="text" class="form-control" placeholder="Storage">
              </div>
              <div>
                <label>Battery</label>
                <input formControlName="Battery" type="text" class="form-control" placeholder="Battery">
              </div>
            </div>
          </div>
        </div>

        <div class="form-row" style="display: none;">
          <label>Price</label>
          <input formControlName="Price" class="form-control" type="text" placeholder="Price">
        </div>

        <div class="form-row">
          <div class="d-flex justify-content-between identity">
            <div>
              <label>Name</label>
              <input formControlName="CustomerName" class="form-control" type="text" placeholder="CustomerName">
            </div>

            <div>
              <label>Email</label>
              <input formControlName="Email" class="form-control" type="email" placeholder="Email">
            </div>
          </div>
          <label>Message</label>
          <textarea rows="5" cols="78" class="form-control" formControlName="Message" placeholder="enter message">
          </textarea>
        </div>
        <br>

        <div style="display: none;">
          <button class="btn btn-primary" (click)="save()"><i class="fa fa-shopping"></i>Order phone</button>&nbsp;
          <button class="btn btn-danger" (click)="cancel()">Cancel order</button> &nbsp;
        </div>
      </form>

      <div class="d-flex flex-column details" *ngFor="let phone of onephone">
        <span class="d-flex justify-content-between">
          <p>Ush {{phone.Price}}</p>
          <p class="extra">
            <i class="fa fa-cart"></i>
            <button class="btn bg-white" (click)="save()">Buy now<i class="fa fa-arrow-right"></i></button>
          </p>
        </span>
      </div>
    </div>
  </div>
</body>

<br>
<mat-divider></mat-divider>

<footer class="text-center">
    <i class="fa fa-copyright"></i> copy rights reserved
</footer>