body {
    background-color: rgb(246, 244, 240);
}

nav {
    background-color: rgb(2, 2, 80);
}

a:hover {
    color: black;
    background-color: black;
}

.collapse {
    align-items: center;
}

a:active {
    color: black;
}