<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(2, 2, 80); height: 120px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample2.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
            <div mdbCollapse #backgroundImageExample2="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <a class="nav-link" id="homeIcon" aria-current="page" routerLink="/cmj">
                    <img src="../../../assets/image/icons/logo.png" width="310">
                </a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navs">
                    <li class="nav-item active" style="margin-right: -40px;">
                        <a class="nav-link" routerLink="/cmj" style="width: 100px;">
                            <img src="../../../assets/image/icons/newHome.png" id="homeImg">
                            <br/>
                            <p style="margin-top: 5px;">Home</p>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: -40px;">
                        <a class="nav-link active" routerLink="phones" style="width: 100px;">
                            <img src="../../../assets/image/icons/newPhone.png" id="phoneImg">
                            <br/>
                            <p>Phone</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="computers" style="width: 150px;">
                            <img src="../../../assets/image/icons/comp.png" id="compImg">
                            <br/>
                            <p>Accessories</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <router-outlet></router-outlet>
</body>