body {
    background-color: rgb(10, 104, 104);
    height: 100%;
    width: 100%;
    display: flex;
}

#contain {
    padding: 40px 0px 0px 0px;
    padding-bottom: 18.7%;
    height: 100%;
    width: 95%;
}

#main {
    padding: 15px;
    padding-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    border: 2px solid rgb(10, 104, 104);
    border-radius: 20px;
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

#link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(5, 150, 5);
}

#a {
    text-decoration: none;
}