<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(2, 2, 80); height: 120px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample2.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
            <div mdbCollapse #backgroundImageExample2="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <a class="nav-link" id="homeIcon" aria-current="page" routerLink="/cmj">
                    <img src="../../../assets/image/icons/logo.png" width="310">
                </a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navs">
                    <li class="nav-item active" style="margin-right: -40px;">
                        <a class="nav-link" routerLink="/cmj" style="width: 100px;">
                            <i class="fa fa-home"></i>
                            <br/>
                            <p style="margin-top: 5px;">Home</p>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: -40px;">
                        <a class="nav-link active" routerLink="phones" style="width: 100px;">
                            <i class="fa fa-mobile"></i>
                            <br/>
                            <p>Phone</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="computers" style="width: 150px;">
                            <i class="fa fa-desktop"></i>
                            <br/>
                            <p>Accessories</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <!-- edit button -->
    <div class="modal fade" id="exampleModal" tabindex="0" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Add Computer Accessory
            </h5>
            <button type="button" class="close" data-dismiss="form" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="input">
            <form [formGroup]="addComputer" id="styled" class="form-control">
                <div class="form-row">
                    <div class="form-group col-md-6" id="title">
                        <label for="title">Title</label>
                        <input formControlName="Title" type="text" class="form-control" id="inputTitle" placeholder="Enter Title">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" id="ids">
                        <div>
                            <label for="inputCategory">Category</label>
                            <input formControlName="Category" type="text" class="form-control" id="inputCategory" placeholder="Enter Category">
                        </div>
                    </div>
                </div>
                <div class="form-row" id="id">
                    <label class="inputPrice" for="Price">Price</label>
                    <input formControlName="Price" class="form-control" type="text" placeholder="Enter Price" id="inputPrice">
                </div>
                <div class="form-row" id="id">
                    <input formControlName="File" class="form-control" type="file" id="inputAmount">
                </div>
                <br>
                <div class="butt">
                    <button class="btn btn-primary" (click)="save()" [ngStyle]="{'background-color': 'green', 'border-color': 'green'}">Save</button>
                    <button class="btn btn-secondary" (click)="clr()">Clear</button>
                    <button class="btn btn-primary" (click)="del()" [ngStyle]=" { 'background-color': 'red', 'border-color': 'red'} ">Delete</button>
                </div>
            </form>
        </div>

    </div>
</body>