<body>
    <div class="container">
        <div class="input">
            <form [formGroup]="addComputer" id="styled" class="form-control">
                <h1>Add Computer Accessory</h1>
                <div class="form-row">
                    <div class="form-group col-md-6" id="title">
                        <label for="title">Title</label>
                        <input formControlName="Title" type="text" class="form-control" id="inputTitle" placeholder="Enter Title">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" id="ids">
                        <div>
                            <label for="inputCategory">Category</label>
                            <input formControlName="Category" type="text" class="form-control" id="inputCategory" placeholder="Enter Category">
                        </div>
                    </div>
                </div>
                <div class="form-row" id="id">
                    <label class="inputPrice" for="Price">Price</label>
                    <input formControlName="Price" class="form-control" type="text" placeholder="Enter Price" id="inputPrice">
                </div>
                <div class="form-row" id="id">
                    <input formControlName="File" class="form-control" type="file" id="inputAmount">
                </div>
                <br>
                <div class="butt">
                    <button class="btn btn-primary" (click)="save()" [ngStyle]="{'background-color': 'green', 'border-color': 'green'}">Save</button>
                    <button class="btn btn-secondary" (click)="clr()">Clear</button>
                    <button class="btn btn-primary" (click)="del()" [ngStyle]=" { 'background-color': 'red', 'border-color': 'red'} ">Delete</button>
                </div>
            </form>
        </div>

    </div>
</body>