body {
    background-color: #fcfcfc;
}

h1 {
    font-size: 30px;
    width: 95%;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 0 auto;
}

.row {
    width: 100%;
    margin-bottom: 2%;
}

.row .col {
    width: 23%;
    font-size: 1.4rem;
    color: black;
    margin: .5%;
}

.card-body {
    font-size: 10px;
}

.card-text {
    margin-top: 20px;
    font-size: 13px;
}

.card-text h3 {
    font-size: 15px;
}

.btn-primary-cart {
    background-color: #f73838;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 0px;
    font-size: 16px;
    color: white;
}