<header>
    <nav class="d-flex">
        <input type="search" class="form-control search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">
        <button class="btn btn-primary" (click)="search()">Search</button>
    </nav>
</header>

<mat-card class="mat-parent-small">
    <body>
        <div class="row row-cols-1 row-cols-md-3 g-2 d-flex flex-wrap">
            <a class="col" *ngFor="let phon of api" routerLink="/phon-pay/{{phon.ID}}">
                <div class="card h-100">
                    <img [src]="'../../../../../assets/image/phones/'+ phon.File" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{phon.Title}}</h5>
                        <p class="card-text">
                            {{phon.Storage}}
                            <br>{{phon.Price}}
                            <br>{{phon.Battery}}
                        </p>
                    </div>
                    <div class="btn cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;Buy
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </a>
        </div>
    </body>

    <hr>
    <footer class="text-center">
        <i class="fa fa-copyright"></i> copy rights reserved
    </footer>
</mat-card>
