<body>
    <h1 class="ml-4 mb-5">Phones</h1>
    <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
        <a class="col" *ngFor="let phon of phone" routerLink="/phon-pay/{{phon.ID}}">
            <div class="card h-100">
                <div class="card-body">
                    <img [src]="'../../../../../assets/image/phones/'+ phon.File" class="card-img-top" width="264">
                    <div class="card-text text-center">
                        <h3>{{phon.Title}}</h3>
                        <br>{{phon.Price}}
                    </div>
                </div>
                <div class="btn btn-primary-cart cart">
                    Buy&nbsp;<i class="fa fa-cart-plus"></i>
                </div>
            </div>
        </a>
    </div>
</body>
