body {
    height: auto;
    margin-top: 1px;
}

.page {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    background: white;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: auto;
    display: flex;
}

.content {
    display: block;
    height: 349px;
    padding: 1px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 10px 10px 10px 10px;
    width: 199px;
    border: 1px solid rgb(3, 31, 31);
    border-radius: 2px;
    float: left;
    left: 0;
}

.upper {
    width: 177px;
    height: 250px;
}

.lower {
    display: block;
    width: 199px;
    margin-left: -1px;
    height: 97px;
    background-color: rgb(3, 31, 31);
    border: 2px solid rgb(3, 31, 31);
}

.title {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
    color: white;
}

.rest {
    display: flex;
    height: 10px;
    width: 280x;
}

.price,
.category {
    width: 85px;
    height: 50px;
    margin: 1px;
    border-radius: 10px;
    text-align: center;
    padding: 1px;
    color: white;
}

nav {
    text-align: center;
    width: auto;
    height: 50px;
}