<mat-card class="mat-parent-small">
    <carousel style="width: 100%; padding-left: -5px; margin-left: -10px;">
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/Tech Net.jpg">
                <!-- https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg -->
            </mat-card>
        </slide>
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/computers/RAM.jpg">
                <!-- https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg -->
            </mat-card>
        </slide>
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/computers/wireless mouse.jpg">
                <!-- https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg -->
            </mat-card>
        </slide>
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/computers/cpu cooler.jpg">
                <!-- https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg -->
            </mat-card>
        </slide>
        <slide style="width: 100%;">
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/computers/hdmi.jpg">
                <!-- https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg -->
            </mat-card>
        </slide>
    </carousel>

    <body style="padding: 2% 2% 0% 8%;">
        <div class="row row-cols-1 row-cols-md-3 g-2" style="padding: .1%;">
            <a class="col" *ngFor="let com of comp" routerLink="/comp-pay/{{com.id}}" style="width: 29%; padding: 1.5%; color: black;">
                <div class="card h-100">
                    <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{com.Title}}</h5>
                        <p class="card-text">
                            {{com.Category}}
                            <br>{{com.Price}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{com.Title}}</small>
                    </div>
                </div>
            </a>
        </div>
    </body>
    <hr>
    <nav>
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</mat-card>