<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
    </style>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg" id="navbars">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" (click)="backgroundImageExample3.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
                    </button>
            <div mdbCollapse #backgroundImageExample3="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <input type="search" class="form-control" id="search-input-sidenav" id="form1" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">
                <button class="btn btn-primary" (click)="search()">Search</button>
                <div class="clean">
                    <a class="btn" id="createBtn" routerLink="/create">Create account</a>
                    <a class="btn btn-danger" routerLink="/login">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <br/>
</header>
<mat-card class="mat-parent-small">
    <carousel>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/Tech Net.jpg">
            </mat-card>
        </slide>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/computers/RAM.jpg">
            </mat-card>
        </slide>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/computers/wireless mouse.jpg">
            </mat-card>
        </slide>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/computers/cpu cooler.jpg">
            </mat-card>
        </slide>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/computers/hdmi.jpg">
            </mat-card>
        </slide>
    </carousel>

    <body>
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <a class="col" *ngFor="let com of comp" routerLink="/comp-pay/{{com.id}}">
                <div class="card h-100">
                    <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{com.Title}}</h5>
                        <p class="card-text">
                            {{com.Category}}
                            <br>{{com.Price}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{com.Title}}</small>
                    </div>
                </div>
            </a>
        </div>
    </body>
    <hr>
    <nav>
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</mat-card>