<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
    </style>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg" id="navbars">
        <div class="container-fluid">
            <div mdbCollapse #backgroundImageExample3="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
                <input type="text" [(ngModel)]="searchText" class="form-control" id="search-input-sidenav search" name="search" placeholder="Search for Phones, mouse, keyboards, fans, cables, flash....">
                <button class="btn btn-primary">Search</button>
            </div>
            <!--  (click)="search()" -->
        </div>
    </nav>
    <br/>
</header>
<mat-card class="mat-parent-small">

    <body>
        <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
            <a class="col" *ngFor="let com of comp" routerLink="/comp-pay/{{com.id}}">
                <div class="card h-100">
                    <img [src]="'../../../../../assets/image/computers/'+ com.File" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{com.Title}}</h5>
                        <p class="card-text">
                            {{com.Category}}
                            <br>{{com.Price | currency"}}
                        </p>
                    </div>
                    <div class="btn cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;Order
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{com.Title}}</small>
                    </div>
                </div>
            </a>
        </div>
    </body>
    <hr>
    <nav>
        <i class="fa fa-copyright"></i> copy rights reserved
    </nav>
</mat-card>