body {
    display: flex;
    width: 100%;
    padding: 10px;
}

/* navigation */
#navbars {
    background-color: rgb(252, 252, 252);
    height: 20%;
}

/* body field work */
.row {
    width: 100%;
}

.row .col {
    width: 30%;
    font-size: 13px;
    color: black;
    margin: 1% 1% 1% 1%;
}
.row .col:hover {
    text-decoration: none;
    width: 32%;
}

slide {
    width: 100%;
    height: 620px;
}

slide img {
    height: 620px;
}

carousel {
    width: 100%;
    padding-left: -5px;
    margin-left: -10px;
}

nav {
    text-align: center;
    width: 100%;
    height: 50px;
}

.container-fluid {
    display: flex;
}

#backgroundImageExample2 {
    width: 100%;
    display: flex;
}

/* search style */
#search {
    width: 80%;
    font-size: 1rem;
}

.accounts {
    margin-left: 14%;
    float: right;
}

.cart {
    width: 80%;
    margin: 0% 5% 5% 7%;
    background-color: rgb(3, 120, 237);
    border: 2px solid rgb(3, 120, 237);
    font-size: .9rem;
    text-align: left;
    color: white;
}
