<p style="background: linear-gradient(rgb(213, 213, 215), rgb(236, 236, 251));">
    <!--/*for mobile and small  devices */-->
    <mat-card class="mat-parent">
        <p>
            <b>
                New and old phones
            </b>
        </p>
        <a href="mailto:xyz@example.com?Subject=Hello&body=links:  %0D 
         http://link1.com  %0D http://link1.com" target="_top">Send Mail</a>
        <carousel style="width: 100%;">
            <div class="carousel-inner" align="center" role="listbox" style=" height: 350px; padding-bottom: 5px;">
                <slide style="margin-left: -30px;">
                    <div class="carousel-item" style="display: flex; width: 57%;">
                        <div class="col-md-4" *ngFor="let phon of phone" style="margin-right: -53px; height: 100px;">
                            <mat-card class="example-card" *ngIf="phon.Brand == 'iPhone'">
                                <img mat-card-image [src]="'../../../../../assets/image/phones/'+ phon.File" height="80">
                                <mat-card-content style="height: 140px;">
                                    <div>
                                        <h4 class="card-title">{{phon.Title}}</h4>
                                        <p>
                                            Shs. {{phon.Price}}
                                            <br/>{{phon.Battery}}
                                            <br/>{{phon.Brand}}
                                        </p>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </slide>
                <slide style="margin-left: -30px;">
                    <div class="carousel-item" style="display: flex; width: 57%;">
                        <div class="col-md-4" *ngFor="let phon of phone" style="margin-right: -53px; height: 100px;">
                            <mat-card class="example-card" *ngIf="phon.Brand == 'Infinix'">
                                <img mat-card-image [src]="'../../../../../assets/image/phones/'+ phon.File" height="80">
                                <mat-card-content style="height: 140px;">
                                    <div>
                                        <h4 class="card-title">{{phon.Title}}</h4>
                                        <p>
                                            Shs. {{phon.Price}}
                                            <br/>{{phon.Battery}}
                                            <br/>{{phon.Brand}}
                                        </p>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </slide>
                <slide style="margin-left: -30px;">
                    <div class="carousel-item" style="display: flex; width: 57%;">
                        <div class="col-md-4" *ngFor="let phon of phone" style="margin-right: -53px; height: 100px;">
                            <mat-card class="example-card" *ngIf="phon.Brand == 'Nokia'">
                                <img mat-card-image [src]="'../../../../../assets/image/phones/'+ phon.File" height="80">
                                <mat-card-content style="height: 140px;">
                                    <div>
                                        <h4 class="card-title">{{phon.Title}}</h4>
                                        <p>
                                            Shs. {{phon.Price}}
                                            <br/>{{phon.Battery}}
                                            <br/>{{phon.Brand}}
                                        </p>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </slide>
                <slide style="margin-left: -30px;">
                    <div class="carousel-item" style="display: flex; width: 57%;">
                        <div class="col-md-4" *ngFor="let phon of phone" style="margin-right: -53px; height: 100px;">
                            <mat-card class="example-card" *ngIf="phon.Brand == 'Samsung'">
                                <img mat-card-image [src]="'../../../../../assets/image/phones/'+ phon.File" height="80">
                                <mat-card-content style="height: 140px;">
                                    <div>
                                        <h4 class="card-title">{{phon.Title}}</h4>
                                        <p>
                                            Shs. {{phon.Price}}
                                            <br/>{{phon.Battery}}
                                            <br/>{{phon.Brand}}
                                        </p>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </slide>
            </div>
        </carousel>
    </mat-card>
    <mat-card class="mat-parent">
        <p>
            <b>
                New and old Computer Accessories
            </b>
        </p>
        <carousel>
            <div class="carousel-inner" align="center" role="listbox" style="height: 350px; padding-bottom: 5px; padding-left: 0px;">
                <slide style="margin-left: -30px;">
                    <div class="carousel-item" style="display: flex; width: 57%;">
                        <div class="col-md-5" *ngFor="let comp of computer" style="margin-right: -53px; height: 100px;">
                            <mat-card class="example-card" *ngIf="comp.id<=6">
                                <img mat-card-image [src]="'../../../assets/image/computers/'+comp.File" style="height: 110px;">
                                <mat-card-content style="height: 140px;">
                                    <!-- class="card-body" -->
                                    <div>
                                        <h4 style="text-align: left;" class="card-title">{{comp.Title}}</h4>
                                        <p style="text-align: left;">
                                            {{comp.Category}}
                                            <br/> Shs. {{comp.Price}}
                                            <br/> {{comp.Category}}
                                        </p>
                                        <!-- <button mat-raised-button color="primary">Primary</button> -->
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </slide>
                <slide style="margin-left: -30px;">
                    <div class="carousel-item" style="display: flex; width: 57%;">
                        <div class="col-md-5" *ngFor="let comp of computer" style="margin-right: -53px; height: 100px;">
                            <mat-card class="example-card" *ngIf="comp.id>=6">
                                <img mat-card-image [src]="'../../../assets/image/computers/'+comp.File" style="height: 110px;">
                                <mat-card-content style="height: 140px;">
                                    <!-- class="card-body" -->
                                    <div>
                                        <h4 style="text-align: left;" class="card-title">{{comp.Title}}</h4>
                                        <p style="text-align: left;">
                                            {{comp.Category}}
                                            <br/> Shs. {{comp.Price}}
                                            <br/> {{comp.Category}}
                                        </p>
                                        <!-- <button mat-raised-button color="primary">Primary</button> -->
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </slide>
                <slide style="margin-left: -30px;">
                    <div class="carousel-item" style="left: 0; display: flex; width: 57%;">
                        <div class="col-md-5" *ngFor="let comp of computer" style="margin-right: -53px; height: 100px;">
                            <mat-card class="example-card" *ngIf="comp.id>=12">
                                <img mat-card-image [src]="'../../../assets/image/computers/'+comp.File" style="height: 110px;">
                                <mat-card-content style="height: 140px;">
                                    <!-- class="card-body" -->
                                    <div>
                                        <h4 style="text-align: left;" class="card-title">{{comp.Title}}</h4>
                                        <p style="text-align: left;">
                                            {{comp.Category}}
                                            <br/> Shs. {{comp.Price}}
                                            <br/> {{comp.Category}}
                                        </p>
                                        <!-- <button mat-raised-button color="primary">Primary</button> -->
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </slide>
                <slide style="margin-left: -30px;">
                    <div class="carousel-item" style="display: flex; width: 57%;">
                        <div class="col-md-5" *ngFor="let comp of computer" style="margin-right: -53px; height: 100px;">
                            <mat-card class="example-card" *ngIf="comp.id>=18 && comp.id<=6">
                                <img mat-card-image [src]="'../../../assets/image/computers/'+comp.File" style="height: 110px;">
                                <mat-card-content style="height: 140px;">
                                    <!-- class="card-body" -->
                                    <div>
                                        <h4 style="text-align: left;" class="card-title">{{comp.Title}}</h4>
                                        <p style="text-align: left;">
                                            {{comp.Category}}
                                            <br/> Shs. {{comp.Price}}
                                            <br/> {{comp.Category}}
                                        </p>
                                        <!-- <button mat-raised-button color="primary">Primary</button> -->
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </slide>
            </div>
        </carousel>
    </mat-card>
</p>